[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pipenv run ./manage.py test"
server = "pipenv run ./manage.py runserver"
makemigrations = "pipenv run ./manage.py makemigrations"
migrate = "pipenv run ./manage.py migrate"
prettify = "prettier --write **/*.html"

[packages]
"jinja2" = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
Django = "*"
gunicorn = "*"
prospector = "*"
whitenoise = "*"
psycopg2cffi = "*"

[dev-packages]
black = "*"
colour-runner = "*"
coverage = "*"
flake8 = "*"
flake8-blind-except = "*"
flake8-builtins = "*"
flake8-django = "*"
flake8-docstrings = "*"
flake8-import-order = "*"
flake8-logging-format = "*"
flake8-rst-docstrings = "*"
isort = "*"
pyflakes = "*"
pylama = "*"
pylint = "*"
pylint-django = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-flakes = "*"
pytest-timeout = "*"
selenium = "*"
python-language-server = "*"
pyls-black = "*"
pyls-isort = "*"
autopep8 = "*"
pep8 = "*"
django-debug-toolbar = "*"
pytest-pycharm = "*"
gmaily = "*"
pytest-mock = "*"
mock = "*"

[pipenv]
allow_prereleases = true
