[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"jinja2" = "*"
"psycopg2-binary" = "*"
"psycopg2" = "*"
dj-database-url = "*"
Django = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]
colour-runner = "*"
coverage = "*"
isort = "*"
prospector = "*"
pylint = "*"
pylint-django = "*"
pytest = "*"
pytest-django = "*"
selenium = "*"
